mule_event_demo/src/main/mule/mule_event_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ef62f1e8-ba51-4faa-98cc-d278e4f58f0d" basePath="/mulejson" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule_event_demoFlow" doc:id="b897f6ca-354f-4934-9715-7ee2181d6608" >
		<http:listener doc:name="Listener" doc:id="f4b14548-3f04-424f-9d70-0ed2a517275e" config-ref="HTTP_Listener_config" path="/jsonread" allowedMethods="POST" outputMimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="aaef0433-509e-41ab-8338-82d4a604a11c" message="#[payload.employeeID]"/>
	</flow>
</mule>
