mule_event_demo/src/main/mule/Mule_Event_Header.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="Mule_Event_HeaderFlow" doc:id="bb94f723-42be-494d-813b-cf12d8e055b2" >
		<http:listener doc:name="Listener" doc:id="cb2ea082-3b84-4208-89e5-2f4fd67a786d" config-ref="HTTP_Listener_config" path="/readHeader" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="eef32ef1-1d41-4642-90cf-ac7c3adfceb3" message="#[attributes.headers.transactionID]"/>
	</flow>
</mule>
